/*
* @Author: Sun Yu Jie
* @Date:   2018-03-20 21:46:00
* @Last Modified by:   Sun Yu Jie
* @Last Modified time: 2018-03-20 21:51:56
*/

.nav-simple{
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.nav-simple .logo{
  font-size: 26px;
  font-weight: bold;
  color: #c60023;
  text-decoration: none;
}